.container{
    width: 1088px;
    margin: 0 auto;
}

.head{
    height: 40px;
}

.head .lhead ul li{
    float: left;
}

.head .lhead ul li:hover a{
    color: #3377FF;
    font-weight: bold;
}

.head .lhead ul li a {
    height: 40px;
    margin-right: 36px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #1C1F21;   
}

.head .lhead ul li a.con{
    color: #3377FF;
    font-weight: bolder;
}

.head .rhead{
    float: right;
}

.head .rhead .login{
    color: #545C63;
    font-size: 12px;
    line-height: 40px;
    margin-right: 12px;
}

.head .rhead .login a{
    color: #545C63;
    margin-right: 2px;
}

.right{
    width: 52px;
    height: 227px;
    background-color: #FFFFFF;
    border: 1px solid #EDF1F2;
    position: fixed;
    top: 40%;
    right: 0px;
    bottom: 0px;
    left: 95%;
    margin: 0 auto;
}

.right ul li{
    width: 34px;
    height: 54px;
    border-bottom: 2px solid #EDF1F2;
    position: relative;
    left: 10px;
    top: 0px;
}

.right ul li img{
    width: 24px;
    height: 24px;
    position: relative;
    left: 4px;
    top: 20px;
}

.right ul li:hover img{
    display: none;
}

.right ul li span{
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 12px;
    top: 20px;
}

.right ul li:hover span{
    display: block;
}

.head-ad .fl img{
    height: 60px;
}

.head-ad .fr .search{
    width: 488px;
    height: 36px;
    box-sizing: border-box;
    background-color: #F3F5F6;
    border-radius: 10px;
    padding-left: 12px;
    margin: 12px;
    position: relative;
}

.head-ad .fr .search .searchbox{
    margin-right: 20px;
    font-size: 14px;
    background-color: #F3F5F6;
}

.head-ad .fr .search .searchbox input{
    line-height: 34px;
    color: #9199A1;
}

.head-ad .fr .search .searchbtn{
    position: absolute;
    top: 8px;
    right: 18px;
}

.head-ad .fr .search .searchbtn i{
    width: 20px;
    height: 20px;
    background: url(../image/btn.png) no-repeat;
}

.head-ad .fr .btn span{
    width: 90px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background-color: #3377FF;
    border-radius: 20px;
    position: relative;
    top: 12px;
}

.main{
    background-color: #F8FAFC;
    padding-top: 20px;
}

.main .article .llist ul{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 6px;
    margin-right: 24px;
}

.main .article .llist ul li{
    width: 68px;
    height: 22px;
    font-size: 14px;
    line-height: 28px;
    margin: 6px;
    padding: 6px;
    text-align: center;
}

.main .article .llist ul li.con{
    background-color: #EAF1FF;
    color: #3377FF;
    font-weight: bold;
    border-radius: 6px;
}

.main .article .clist .ad{
    width: 656px;
    height: 200px;
    position: relative;
}

.main .article .clist .ad .fl{
    width: 456px;
    height: 200px;
}

.main .article .clist .ad .fr{
    width: 196px;
    height: 98px;
}

.main .article .clist .ad .con{
    margin-bottom: 4px;
}

.main .article .clist .ad .l{
    width: 410px;
    padding: 7px 23px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 156px;
    left: 0px;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,#000 100%);
}

.main .article .clist .ad .r1{
    width: 168px;
    padding: 9px 14px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    position: absolute;
    top: 65px;
    right: 0px;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,#000 100%);
}

.main .article .clist .ad .r2{
    width: 168px;
    padding: 9px 14px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    position: absolute;
    top: 150px;
    right: 0px;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,#000 100%);
}

.main .article .clist .item{
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    width: 626px;
}

.main .article .clist .item ul li .img{
    width: 66px;
    height: 66px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.main .article .clist .item ul li .img img{
    width: 66px;
    height: 66px;
    float: left;
}

.main .article .clist .item ul li .list a{
    float: left;
}

.main .article .clist .item ul li .list a:hover p{
    color: #3377FF;
}

.main .article .clist .item ul li .list p{
    font-size: 16px;
    color: #1C1F21;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
}

.main .article .clist .item ul li .list{
    padding: 10px;
    position: relative;
}

.main .article .clist .item ul li .list .listbottom{
    margin-top: 35px;
    width: 520px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 6px;
}

.main .article .clist .item ul li .list .listbottom .label{
    width: 100%;
}

.main .article .clist .item ul li .list .listbottom .label span{
    float: left;
    color: #9199A1;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin:0 8px;
    padding: 2px 0;
}

.main .article .clist .item ul li .list .listbottom .label span.con{
    padding: 3px 10px;
    font-size: 12px;
    color: #1C1F21;
    background-color: #EEEEEF;
    text-align: center;
    border-radius: 20px;
}

.main .article .clist .item ul li .list .listbottom i{
    width: 12px;
    height: 12px;
    position: relative;
    top: 3px;
}

.main .article .clist .item ul li .list .listbottom p{
    font-size: 12px;
    line-height: 20px;
    color: #9199A1;
    margin:0 8px;
    padding: 5px 0;
    font-weight: 400;
}


.main .article .clist .item ul li .list .collect{
    font-size: 14px;
    font-weight: bold;
    color: #3377FF;
    position: absolute;
    top: 16px;
    right: 20px;
    display: none;
}

.main .article .clist .item ul li:hover .list .collect{
    display: inline-block;
}

.main .article .rlist .select{
    margin-bottom: 20px;
}

.main .article .rlist .select div{
    margin-bottom: 6px;
}

.main .article .rlist .select div img{
    width: 280px;
    height: 56px;
}

.main .article .rlist .column ul li{
    width: 280px;
    margin-bottom: 20px;
}

.main .article .rlist .column ul li .tit{
    margin-bottom: 20px;
}

.main .article .rlist .column ul li .tit span{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #1C1F21;
}

.main .article .rlist .column ul li .tit a{
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #9199A1;
    
}

.main .article .rlist .column ul li .img{
    width: 70px;
    height: 98px;
    border-radius: 6px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
}

.main .article .rlist .column ul li .img img{
    width: 70px;
    height: 98px;
}

.main .article .rlist .column ul li .wrap{
    float: left;
    width: 198px;
    height: 99px;
    border-bottom: 1px solid #E2E4E5;
}

.main .article .rlist .column ul li .wrap .name{
    float: left;
    width: 198px;
    font-size: 14px;
    font-weight: bold;
    color: #545C63;
    margin-bottom: 10px;
}

.main .article .rlist .column ul li .wrap .item{
    float: left;
    width: 198px;
    font-size: 12px;
    color: #9199A1;
    margin-bottom: 10px;
}

.main .article .rlist .column ul li .wrap .item span{
    margin-right: 20px;
}

.main .article .rlist .column ul li .wrap .price{
    float: left;
    font-size: 12px;
    color: #9199A1;
    margin-bottom: 10px;
}

.main .article .rlist .column ul li .wrap .sub{
    float: right;
    padding: 0 12px;
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    color: #37f;
    line-height: 24px;
    border-radius: 10px;
    background-color: #E4EDFC;
}

.main .article .rlist .ad{
    width: 280px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
}

.main .article .rlist .ad img{
    width: 280px;
    height: 140px;
}

.foot{
    background-color: #1C1F21;
    padding: 30px 0px;
}

.foot .link{
    margin-bottom: 10px;
}

.foot .link span{
    color: #C8CDD2;
    font-size: 12px;
    margin: 0px 14px;
}

.foot p{
    color: #99A1A6;
    margin-left: 10px;
}