.container{
    width: 384px;
    margin: 0 auto;
}

body{
    background-color: #F8FAFC;
}

.head{
    height: 120px;
}

.head a{
    margin-top: 50px;
}

.head a div{
    float: left;
}

.head a .img img{
    height: 46px;
}

.head a .tit{
    margin-left: 30px;
}

.head a .tit span{
    line-height: 46px;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    color: #2E3133;
    margin: 0px 1px;
}

.main{
    padding: 20px 0px;
}

.main .in{
    padding-top: 10px;
    background-color: #fff;
    border-radius: 20px;
}

.main .in .inhead{
    padding: 0px 20px 25px;
}

.main .in .inhead a{
    font-size: 16px;
    font-weight: bold;
    color: #787D82;
    width: 80px;
    height: 49px;
    line-height: 49px;
    text-align: center;
}

.main .in .inhead a.con{
    color: #F20D0D;
}

.main .in .inhead a.con::after{
    content: "";
    width: 16px;
    height: 4px;
    background: #F20D0D;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
}

.main .in .inhead a:hover{
    color: #F20D0D;
}

.main .in .inbody{
    padding: 0px 32px;
    margin-bottom: 16px;
}

.main .in .inbody .id,.main .in .inbody .psw{
    height: 68px;
}

.main .in .inbody .psw input{
    width: 288px;
    height: 18px;
    padding: 15px;
    color: #9199A1;
    background-color: #F2F2F2;
    border-radius: 10px;
    font-size: 16px;
    line-height: 18px;
}

.main .in .inbody .id{
    position: relative;
}

.main .in .inbody .id input{
    width: 228px;
    height: 18px;
    padding: 14px 14px 14px 77px;
    color: #9199A1;
    background-color: #F2F2F2;
    border-radius: 10px;
    font-size: 16px;
    line-height: 18px;
}

.main .in .inbody .id div{
    position: absolute;
    left: 16px;
    top: 12px;
}

.main .in .inbody .id div span{
    color: #1C1F21;
    font-size: 16px;
}

.main .in .inbody .id div i{
    width: 16px;
    height: 16px;
    position: relative;
    top: 8px;
    background: url(../image/spider_search_v4.png) no-repeat 0px -653px;
}

.main .in .inbody .label{
    margin-bottom: 14px;
}

.main .in .inbody .label input{
    margin-right: 10px;
}

.main .in .inbody .label span{
    color: #9199A1;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.main .in .inbody .label a{
    color: #3377FF;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.main .in .inbody .login{
    background-color: #F20D0D;
    padding: 12px 32px;
    border-radius: 20px;
}

.main .in .inbody .login input{
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.main .in .infoot{
    padding: 0px 32px;
}

.main .in .infoot .sns{
    margin-bottom: 20px;
}

.main .in .infoot .sns span{
    color: #9199A1;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
}

.main .in .infoot .sns a{
    float: right;
    position: relative;
    top: 6px;
    margin-right: 16px;
}

.main .in .infoot .sns a img{
    width: 24px;
    height: 24px;
}
